# Prerequisites
*.d
Release
# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.user

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
build-URGame
*.user
# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
build-URGame/Makefile
build-URGame/Makefile
build-URGame/Makefile
build-URGame/main_qml.cpp
build-URGame/Feld_qml.cpp
